
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

body {
  background-color: #e9e9e9;
}

.navbar-laravel {
  color: #fff;
  background-color: #3c3c3c;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.16);
  z-index: 999999;

  .nav-link {
    color: #ffffff;
  }
}

.pane {
  padding: 16px 16px 16px 16px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
}

.lateral-pane {
  padding: 16px 16px 16px 16px;
  background-color: #d7d7d7;
  border-radius: 5px;
}

.lateral-col {
  top: 6em;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.badge-tool {
  background-color: #dedede;
  border: 1px solid #d6d6d6;

  cursor: pointer;

  input[type=checkbox] {
    display: none;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }

  &.active {
    background-color: #c4c4c4;
    border-color: #9c9c9c;
  }

  &:hover {
    border-color: #9c9c9c;
  }
}



// default tooltip
.tooltip {
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }

  display: block !important;
  z-index: 10000;
}

.question-box {
  border: none;
  @include transition(background-color 0.3s);

  &:focus {
    background-color: $text-box-background;
    border: none;
    box-shadow: none;
  }
}

.answer-box {
  border: none;
  background-color: $text-box-background;
  border-radius: 25px;

  &:hover, &:focus {
    background-color: $text-box-background;
  }
}

.search-box {
  border: none;
  background-color: #626262;
  border-radius: 25px;
  color: #cdcdcd;

  @include placeholder {
    color: #7f7f7f;
  }

  &:hover, &:focus {
    background-color: #626262;
    //width: 600px;
    color: #cdcdcd;
  }
}

.emoji-inpput-box {
  border: none;
  background-color: $text-box-background;

  button {
    outline:none;
    color: #a8a8a8;
    border: none;
    background-color: transparent;
    padding: 0; // todo

    &:hover {
      color: #777777;
    }
  }
}

.answer-button {
  background-color: #eeeeee;
}

.tooltip {
  display: block !important;

  .wrapper {
    // Reset bootstrap
    max-width: none;
    margin: 0;
    padding: 0;
  }

  &.popover {
    $color: #f9f9f9;
    max-width: none;

    .popover-inner {
      background: $color;
      color: #dadada;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
      max-width: none;
    }

    .popover-arrow {
      border-color: $color;
    }
  }
}

.closed {
  border: 1px solid #d50700;
  background-color: #f1e7e5;
}

.solved {
  border: 1px solid #0dc600;
  background-color: #e3fcee;
}


/* style the background and the text color of the input ... */
.vue-tags-input {
  background: #324652;
}

.vue-tags-input .ti-new-tag-input {
  background: transparent;
  color: #b7c4c9;
}

.vue-tags-input .ti-input {
  padding: 4px 10px;
  transition: border-bottom 200ms ease;
}

/* we cange the border color if the user focuses the input */
.vue-tags-input.ti-focus .ti-input {
  border: 1px solid #ebde6e;
}

/* some stylings for the autocomplete layer */
.vue-tags-input .ti-autocomplete {
  background: #283944;
  border: 1px solid #8b9396;
  border-top: none;
}

/* the selected item in the autocomplete layer, should be highlighted */
.vue-tags-input .ti-item.ti-selected-item {
  background: #ebde6e;
  color: #283944;
}

/* style the placeholders color across all browser */
.vue-tags-input ::-webkit-input-placeholder {
  color: #a4b1b6;
}

.vue-tags-input ::-moz-placeholder {
  color: #a4b1b6;
}

.vue-tags-input :-ms-input-placeholder {
  color: #a4b1b6;
}

.vue-tags-input :-moz-placeholder {
  color: #a4b1b6;
}

/* default styles for all the tags */
.vue-tags-input .ti-tag {
  position: relative;
  background: #ebde6e;
  color: #283944;
}

/* we defined a custom css class in the data model, now we are using it to style the tag */
.vue-tags-input .ti-tag.custom-class {
  background: transparent;
  border: 1px solid #ebde6e;
  color: #ebde6e;
  margin-right: 4px;
  border-radius: 0px;
  font-size: 13px;
}

/* the styles if a tag is invalid */
.vue-tags-input .ti-tag.ti-invalid {
  background-color: #e88a74;
}

/* if the user input is invalid, the input color should be red */
.vue-tags-input .ti-new-tag-input.ti-invalid {
  color: #e88a74;
}

/* if a tag or the user input is a duplicate, it should be crossed out */
.vue-tags-input .ti-duplicate span,
.vue-tags-input .ti-new-tag-input.ti-duplicate {
  text-decoration: line-through;
}

/* if the user presses backspace, the complete tag should be crossed out, to mark it for deletion */
.vue-tags-input .ti-tag:after {
  transition: transform .2s;
  position: absolute;
  content: '';
  height: 2px;
  width: 108%;
  left: -4%;
  top: calc(50% - 1px);
  background-color: #000;
  transform: scaleX(0);
}

.vue-tags-input .ti-deletion-mark:after {
  transform: scaleX(1);
}